/backend/todo-app/nbproject/private/
/backend/nbproject/private/
/backend/build/
DOCUMENTACIÓN PROYECTO GESTOR DE TAREAS.docx
/frontend/script.js

# 🔒 Archivos con credenciales locales
/backend/src/backend/db.properties


/backend/dist/
